<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.thataiguy.donation_platform</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/josephanady/donation_platform/launch_donation_platform.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/josephanady/donation_platform</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>~/Library/Logs/donation_platform.out.log</string>

  <key>StandardErrorPath</key>
  <string>~/Library/Logs/donation_platform.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>55888</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
